/*///////CSS - RULES///////*/
.titulo-rules > h2{
    box-shadow: 2px 2px 10px green;
}

.titulo-rules > h3{
    text-align: center;
    margin-top: 0%;
    text-transform: uppercase;
    text-decoration: underline;
}

.titulo-rules > h4{
    text-align: center;
}

.sub-titulo > h3 , p{
    text-align: left;
    max-width: 60%;
    margin-left: 21.5%;
}

.lista > h2{
    box-shadow: 2px 2px 10px green;
}
.lista > h3{
    text-align: left;
    margin-left: 21%;
}
ol , ul{
    text-align: left;
    margin-left: 20%;
    max-width: 60%;
}

.lista-a >li{
    flex-direction: column;
    margin-top: 30px;
    text-align:left;
}

.lista-b > li{
    margin-top: 0px;
    
}

/*//////CSS - GAM INF ////*/
.titulo-ginfo > h2 {
    box-shadow: 2px 2px 10px green;
}

.titulo-ginfo > h3{
    text-align: center;
    margin-top: 0%;
    text-transform: uppercase;
    text-decoration: underline;  
}

.lista-ginfo{
    display: inline-table;
    flex-direction: column;
    margin-left: 30%;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}

.lista-head {
    font-size: 30px;
    letter-spacing: 4px;
    box-shadow: 2px 2px 10px white;
} 

tbody{
    box-shadow: 2px 2px 10px white;
}

th {
    font-size: 20px;
    margin: 10px;
    line-height: 80px;
    padding: 25px;
}

tr{
    border: 2px solid white;
}

.columna{
    border-bottom: 2px solid blueviolet;
    border-color: aliceblue;
}